 .u-section-1 {
  background-image: url("images/tyty-min.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1110px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-1 .u-table-1 {
  width: 853px;
  margin: 21px auto 0;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
  height: 373px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
}

.u-section-1 .u-table-cell-17 {
  background-image: none;
}

.u-section-1 .u-table-cell-18 {
  background-image: none;
}

.u-section-1 .u-table-cell-19 {
  background-image: none;
}

.u-section-1 .u-table-cell-20 {
  background-image: none;
}

.u-block-6404-129 {
  background-image: none;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 29px;
  margin-bottom: 54px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 466px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: -4px auto 0;
}

.u-section-1 .u-line-1 {
  width: 228px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-5 {
  line-height: 2;
  letter-spacing: 1px;
  width: 206px;
  margin: 19px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  margin: 32px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 466px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: -4px auto 0;
}

.u-section-1 .u-line-2 {
  width: 228px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-9 {
  line-height: 2;
  letter-spacing: 1px;
  width: 206px;
  margin: 19px auto 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  margin: 32px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 466px;
  background-image: linear-gradient(#f1b5b8, #adcce9);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
}

.u-section-1 .u-text-11 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-1 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: -4px auto 0;
}

.u-section-1 .u-line-3 {
  width: 228px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-13 {
  line-height: 2;
  letter-spacing: 1px;
  width: 206px;
  margin: 19px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 32px auto 0;
  padding: 12px 42px 13px 41px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 466px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto;
}

.u-section-1 .u-text-15 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-1 .u-text-16 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: -4px auto 0;
}

.u-section-1 .u-line-4 {
  width: 228px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-17 {
  line-height: 2;
  letter-spacing: 1px;
  width: 206px;
  margin: 19px auto 0;
}

.u-section-1 .u-btn-4 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  background-image: none;
  margin: 32px auto 0;
  padding: 12px 42px 13px 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1109px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 69px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 384px;
  }

  .u-section-1 .u-line-1 {
    width: 163px;
  }

  .u-section-1 .u-text-5 {
    width: 163px;
  }

  .u-section-1 .u-btn-1 {
    border-style: none;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 384px;
  }

  .u-section-1 .u-line-2 {
    width: 163px;
  }

  .u-section-1 .u-text-9 {
    width: 163px;
  }

  .u-section-1 .u-btn-2 {
    border-style: none;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 384px;
  }

  .u-section-1 .u-line-3 {
    width: 163px;
  }

  .u-section-1 .u-text-13 {
    width: 163px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 384px;
  }

  .u-section-1 .u-line-4 {
    width: 163px;
  }

  .u-section-1 .u-text-17 {
    width: 163px;
  }

  .u-section-1 .u-btn-4 {
    border-style: none;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1563px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-table-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1505px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 63px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2419px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 54px;
  }
}